.menu {
  position: absolute;
  top: 17px;
  right: 15px;
  z-index: 1;

  @media all and (min-width: 1024px) {
    top: 50%;
    transform: translateY(-50%);
    right: 80px;
  }

  &_opened {
    z-index: 2;
  }
}

.menuList {
  position: absolute;
  top: 10px;
  right: 0;
  background: #FFFFFF;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 3px;

  @media all and (min-width: 1024px) {
    top: 20px;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}

.menuListItem {
  display: flex;
  align-items: center;
  height: 36px;
  font-size: 14px;
  cursor: pointer;
  padding: 0 20px;
  position: relative;

  * {
    color: var(--grey99);
    transition: color 0.2s;
  }

  &:hover,
  &:hover * {
    color: var(--orange);
    fill: var(--orange);
  }

  &:not(:last-child):after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    height: 1px;
    background-color: #ECECEC;
    pointer-events: none;
  }

  svg {
    width: 20px;
  }

  &_desktop {
    @media all and (max-width: 1023px) {
      display: none;
    }
  }
}

.menuClose {
  height: 36px;
  line-height: 36px;
  text-align: center;
  background: var(--greyD9);
  border-radius: 0 0 3px 3px;
  font-size: 12px;
  color: var(--grey66);
  transition: color 0.2s;
  cursor: pointer;

  &:hover,
  &:hover * {
    color: var(--orange);
  }
}
