.menuButton {
  width: 31px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
  border-radius: 31px;
  background: transparent;
  border: 0;

  &:active,
  &:hover {
    background-color: rgba(51, 51, 51, 0.1);
  }

  @media all and (min-width: 1024px) {
    align-self: center;
    transform: unset;
  }

  @media all and (min-width: 1540px) {
    &:hover {
      background-color: rgba(51, 51, 51, 0.1);
    }
  }

  svg {
    pointer-events: none;
  }
}
