.userLink {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 20px;
  padding: 0 6px 0 0;

  @media all and (min-width: 1540px) {
    &:hover a {
      text-decoration: underline;
    }
  }
}

.avatar {
  border-radius: 20px;
  width: 20px;
  height: 20px;
  margin: 0 7px 0 0;
  object-fit: cover;
}

.userName {
  color: var(--orange);

  @media all and (min-width: 1540px) {
    position: relative;
    z-index: 1;
  }
}
